@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

.nav-link li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
